---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Pridruži se kot uporabnik — Zvest">
  <Nav />
  <main class="page-padding">
    <div class="container-pop" style="padding-top:120px;padding-bottom:120px">
      <h1>Pridruži se kot uporabnik</h1>
    </div>
  </main>
  <Footer />
</Layout>
