---
const countries = [
  {
    name: "France",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.0859 32.0854C24.9225 32.0854 32.0859 24.922 32.0859 16.0854C32.0859 7.24889 24.9225 0.0854492 16.0859 0.0854492C7.24938 0.0854492 0.0859375 7.24889 0.0859375 16.0854C0.0859375 24.922 7.24938 32.0854 16.0859 32.0854Z" fill="#F0F0F0"/>
      <path d="M32.0852 16.0854C32.0852 9.20594 27.7432 3.34125 21.6504 1.08057V31.0903C27.7432 28.8295 32.0852 22.9648 32.0852 16.0854V16.0854Z" fill="#D80027"/>
      <path d="M0.0859375 16.0854C0.0859375 22.9648 4.428 28.8295 10.5208 31.0902V1.08057C4.428 3.34125 0.0859375 9.20594 0.0859375 16.0854Z" fill="#0052B4"/>
    </svg>`,
  },
  {
    name: "Germany",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.48633 22.0543C3.74702 28.1471 9.6117 32.4891 16.4911 32.4891C23.3706 32.4891 29.2353 28.1471 31.496 22.0543L16.4911 20.6631L1.48633 22.0543Z" fill="#FFDA44"/>
      <path d="M16.4911 0.489258C9.6117 0.489258 3.74702 4.83126 1.48633 10.9241L16.4911 12.3153L31.496 10.924C29.2353 4.83126 23.3706 0.489258 16.4911 0.489258Z" fill="black"/>
      <path d="M1.48542 10.9238C0.842297 12.6571 0.490234 14.5319 0.490234 16.489C0.490234 18.4461 0.842297 20.3209 1.48542 22.0542H31.4951C32.1382 20.3209 32.4902 18.4461 32.4902 16.489C32.4902 14.5319 32.1382 12.6571 31.495 10.9238H1.48542Z" fill="#D80027"/>
    </svg>`,
  },
  {
    name: "Mexico",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.7283 32.7283C25.5649 32.7283 32.7283 25.5648 32.7283 16.7283C32.7283 7.89172 25.5649 0.728271 16.7283 0.728271C7.89178 0.728271 0.728333 7.89172 0.728333 16.7283C0.728333 25.5648 7.89178 32.7283 16.7283 32.7283Z" fill="#F0F0F0"/>
      <path d="M32.7289 16.728C32.7289 10.3847 29.0373 4.90367 23.6854 2.31567V31.1404C29.0373 28.5524 32.7289 23.0714 32.7289 16.728V16.728Z" fill="#D80027"/>
      <path d="M0.728333 16.7283C0.728333 23.0717 4.4199 28.5527 9.77183 31.1407V2.31592C4.4199 4.90392 0.728333 10.3849 0.728333 16.7283Z" fill="#6DA544"/>
      <path d="M12.5526 16.7282C12.5526 19.0334 14.4213 20.9022 16.7265 20.9022C19.0317 20.9022 20.9004 19.0334 20.9004 16.7282V15.3369H12.5526V16.7282Z" fill="#6DA544"/>
      <path d="M22.2924 13.9458H18.1185C18.1185 13.1774 17.4956 12.5544 16.7272 12.5544C15.9588 12.5544 15.3359 13.1774 15.3359 13.9458H11.1619C11.1619 14.7142 11.8312 15.3371 12.5996 15.3371H12.5532C12.5532 16.1055 13.1761 16.7284 13.9446 16.7284C13.9446 17.4968 14.5674 18.1197 15.3359 18.1197H18.1185C18.8869 18.1197 19.5098 17.4968 19.5098 16.7284C20.2782 16.7284 20.9011 16.1055 20.9011 15.3371H20.8547C21.6232 15.3371 22.2924 14.7142 22.2924 13.9458Z" fill="#FF9811"/>
    </svg>`,
  },
  {
    name: "Japan",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.9036 32.9036C25.7402 32.9036 32.9036 25.7401 32.9036 16.9036C32.9036 8.06701 25.7402 0.903564 16.9036 0.903564C8.06705 0.903564 0.90361 8.06701 0.90361 16.9036C0.90361 25.7401 8.06705 32.9036 16.9036 32.9036Z" fill="#F0F0F0"/>
      <path d="M16.9031 23.86C20.745 23.86 23.8596 20.7455 23.8596 16.9035C23.8596 13.0616 20.745 9.94702 16.9031 9.94702C13.0611 9.94702 9.94658 13.0616 9.94658 16.9035C9.94658 20.7455 13.0611 23.86 16.9031 23.86Z" fill="#D80027"/>
    </svg>`,
  },
  {
    name: "Brazil",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.2793 32.2793C25.1159 32.2793 32.2793 25.1159 32.2793 16.2793C32.2793 7.44274 25.1159 0.279297 16.2793 0.279297C7.44274 0.279297 0.279297 7.44274 0.279297 16.2793C0.279297 25.1159 7.44274 32.2793 16.2793 32.2793Z" fill="#6DA544"/>
      <path d="M16.2799 6.54004L29.4972 16.2792L16.2799 26.0183L3.0625 16.2792L16.2799 6.54004Z" fill="#FFDA44"/>
      <path d="M16.28 21.8442C19.3536 21.8442 21.8452 19.3526 21.8452 16.2791C21.8452 13.2055 19.3536 10.7139 16.28 10.7139C13.2065 10.7139 10.7148 13.2055 10.7148 16.2791C10.7148 19.3526 13.2065 21.8442 16.28 21.8442Z" fill="#F0F0F0"/>
    </svg>`,
  },
  {
    name: "Canada",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.6877 32.6877C25.5242 32.6877 32.6877 25.5243 32.6877 16.6877C32.6877 7.85119 25.5242 0.687744 16.6877 0.687744C7.85113 0.687744 0.687683 7.85119 0.687683 16.6877C0.687683 25.5243 7.85113 32.6877 16.6877 32.6877Z" fill="#F0F0F0"/>
      <path d="M32.6882 16.6878C32.6882 10.3444 28.9967 4.86339 23.6447 2.27539V31.1001C28.9967 28.5121 32.6882 23.0311 32.6882 16.6878V16.6878Z" fill="#D80027"/>
      <path d="M0.687683 16.6878C0.687683 23.0311 4.37925 28.5121 9.73118 31.1001V2.27539C4.37925 4.86339 0.687683 10.3444 0.687683 16.6878Z" fill="#D80027"/>
      <path d="M19.4691 18.7749L22.2517 17.3835L20.8604 16.6879V15.2966L18.0778 16.6879L19.4691 13.9053H18.0778L16.6865 11.8184L15.2952 13.9053H13.9038L15.2952 16.6879L12.5125 15.2966V16.6879L11.1213 17.3835L13.9038 18.7749L13.2082 20.1662H15.9908V22.2531H17.3821V20.1662H20.1647L19.4691 18.7749Z" fill="#D80027"/>
    </svg>`,
  },
  {
    name: "Colombia",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16.5" cy="16.5" r="16" fill="#FFDA44"/>
      <path d="M0.5 16.5a16 16 0 0 0 32 0H0.5Z" fill="#0052B4"/>
      <path d="M2 22a16 16 0 0 0 29 0H2Z" fill="#D80027"/>
    </svg>`,
  },
  {
    name: "India",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16.5" cy="16.5" r="16" fill="#F0F0F0"/>
      <path d="M.5 11A16 16 0 0 1 32.5 11H.5Z" fill="#FF9811"/>
      <path d="M.5 22a16 16 0 0 0 32 0H.5Z" fill="#6DA544"/>
      <circle cx="16.5" cy="16.5" r="3" fill="none" stroke="#0052B4" stroke-width="1"/>
    </svg>`,
  },
  {
    name: "UAE",
    svg: `<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16.5" cy="16.5" r="16" fill="#F0F0F0"/>
      <path d="M.5 10A16 16 0 0 1 32.5 10H.5Z" fill="#6DA544"/>
      <path d="M.5 23a16 16 0 0 0 32 0H.5Z" fill="#000"/>
      <path d="M.5 16.5a16 16 0 0 1 9-14.4V31a16 16 0 0 1-9-14.5Z" fill="#D80027"/>
    </svg>`,
  },
];
---

<section class="section">
  <div class="page-padding">
    <div class="container-pop">
      <div class="section-header cc-coverage">
        <div class="eyebrow-pill">
          <span class="eyebrow-pill-bg u-rainbow u-blur-perf"></span>
          <span class="eyebrow-pill-inner">The world is your oyster</span>
        </div>
        <h2 class="section-heading mt-5">Our coverage?<br />Glad you asked.</h2>
        <p class="subheading">Experience premium 5G coverage across the US, and 180+ countries.</p>
      </div>

      <div class="coverage">
        <div class="coverage-wrap">
          <div class="coverage-map u-rainbow"></div>
        </div>

        <div class="coverage-countries-wrap">
          {countries.slice(0, 5).map((c) => (
            <div class="country-tag">
              <span class="country-icon"><Fragment set:html={c.svg} /></span>
              <span>{c.name}</span>
            </div>
          ))}
          <div class="country-tag cc-9"><span>150+ More</span></div>
          {countries.slice(5).map((c) => (
            <div class="country-tag">
              <span class="country-icon"><Fragment set:html={c.svg} /></span>
              <span>{c.name}</span>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
