---
---

<section class="section">
  <div class="page-padding">
    <div class="container-pop">
      <div class="section-header">
        <h2 class="section-heading">A US number, with&nbsp;peace of&nbsp;mind.</h2>
        <p class="subheading">Get started in 72 Seconds.<br />Activate from anywhere worldwide.</p>
      </div>

      <div class="features-grid">
        <article class="features-card cc-green">
          <div class="features-visual">
            <div class="features-card-visual-inner cc-simple">
              <div class="price-visual-monthly">Monthly fee</div>
              <div class="feature-visual-price">$69</div>
              <div class="price-visual-list">
                <div class="price-visual-tag cc-1">Calls &amp; Text</div>
                <div class="price-visual-tag cc-2">Unlimited Data</div>
                <div class="price-visual-tag cc-3">Roaming</div>
              </div>
              <div class="feature-visual-tag u-rainbow">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 8.88887L6.66667 11.5555L11.8889 5.33331" stroke="#393737" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>All inclusive</span>
              </div>
            </div>
          </div>
          <div class="features-card-content">
            <h3 class="heading-m u-mb-m">Simple</h3>
            <p class="subheading cc-features">A predictable phone plan without&nbsp;costly roaming&nbsp;fees.</p>
          </div>
        </article>

        <article class="features-card cc-blue">
          <div class="features-visual">
            <div class="features-card-visual-inner cc-qr" style="position: relative;">
              <img src="https://cdn.prod.website-files.com/66797c2909f9ec0b1ff1a767/6728fd1b5aa1f3d3e3de8706_popcorn-qr-code.png" loading="lazy" width="164" height="164" alt="" />
              <div class="qr-scanner">
                <span class="qr-scanner-corner"></span>
                <span class="qr-scanner-corner cc-tr"></span>
                <span class="qr-scanner-corner cc-bl"></span>
                <span class="qr-scanner-corner cc-br"></span>
                <span class="qr-scanner-highlight"></span>
              </div>
            </div>
          </div>
          <div class="features-card-content">
            <h3 class="heading-m u-mb-m">Fast &amp; Easy</h3>
            <p class="subheading cc-features">Get started in minutes. Just scan a QR code and you're ready to&nbsp;go.</p>
          </div>
        </article>

        <article class="features-card cc-purple">
          <div class="features-visual">
            <div class="features-card-visual-inner cc-expat cc-left">
              <img src="https://cdn.prod.website-files.com/66797c2909f9ec0b1ff1a767/667e861da2386e363a6a72bc_tile-bank-account.webp" width="172" height="172" alt="" />
            </div>
            <div class="features-card-visual-inner cc-expat cc-center">
              <img src="https://cdn.prod.website-files.com/66797c2909f9ec0b1ff1a767/667e862012bb490e67f31d0d_tile-ssn.webp" width="202" height="202" alt="" />
            </div>
            <div class="features-card-visual-inner cc-expat cc-right">
              <img src="https://cdn.prod.website-files.com/66797c2909f9ec0b1ff1a767/667e861ac1da43d5ec4ee4ce_tile-residency.webp" width="172" height="172" alt="" />
            </div>
          </div>
          <div class="features-card-content">
            <h3 class="heading-m u-mb-m">Expat Friendly</h3>
            <p class="subheading cc-features">No SSN or US bank needed. Activate before arriving in the&nbsp;US.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
